{% block step_main_product %}
    <div 
        class="configurator-step-wrapper">
        <form 
            class="configurator-step-form"
            method="post"
            action="{{ configurator.post_route }}">
            <input type="hidden" name="step_id" value="{{ step.id }}">
            <h5>{{ configurator.title }}</h5>
            <p>{{ configurator.paragraph }}</p>
            <fieldset>
                <table class="configurator-choice-table">
                </table>
            </fieldset>
            <input type="submit" name="action_back" value="Zurück" />
            <input type="submit" name="action_confirm" value="Bestätigen" />
        </form>
    </div>
{% endblock %}