.group:after {
    content: "";
    display: table;
    clear: both;
} 
#configurator h4,
#configurator h5 {
    /*margin-top: 0px;*/
}
#configurator {
    display: flex;
}
#configurator .notices {
    padding: 0.5em 1em;
}
.configurator-step-wrapper {
    padding: 1.5em 2em 2em 2em;
    border: 1px solid #e9e9e9;
    background-color: white;
    width:70%;
}

.configurator-step-wrapper.step-hidden {
    display: none;
}
.configurator-step-indicator {
    color:#f0ad4e;
}
.configurator-choice-table {
    margin-bottom: 1em;
    width: 100%;
}
.configurator-choice-table .info-btn {
    color:#0056b3;
    margin-left: 44px;
    cursor: pointer;
    text-decoration: underline;
    font-size: 12px; 
}
.configurator-choice-table .hidden-info-tr td {
    padding: 2em;
}
.configurator-choice-table td,
.configurator-choice-table th {
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    height: 44px;
    font-size: 14px;
    line-height: 22px;
}
.configurator-choice-table .input-cell {
    width: 44px;  
    text-align: center;  
}
.configurator-choice-table .name-cell {
  
}
.configurator-choice-table .price-cell {
    text-align: right;
    width: 120px;
}
.configurator-choice-table .price-info-cell {
    text-align: right;
    width: 120px; 
}
.configurator-choice-table .price-info-cell.m-large {
    width: 160px; 
}
.configurator-table-wrapper {
    padding-bottom: 1em;
    border-bottom: 2px solid grey;
    margin-bottom: 1em;
}
.configurator-table {
    width: 100%;
}
.configurator-table td:last-child {
    text-align: right;
}
.configurator-totals-wrapper {
    text-align: right;
    color: black;
}
.configurator-step-btn {
    padding: 0.5em;
    border: none;
}
.configurator-step-btn.back-btn {
    float: left;
    background-color: lightgrey;
    color: dimgrey;
}
.configurator-step-btn.confirm-btn {
    background-color:#0056b3;
    color: white;
    margin-left: 0.5em;
    float: right;  
}
.configurator-step-btn.confirm-btn:hover {
    background-color: #007bff;   
}
.configurator-btn-wrapper {
    padding-top: 1em;

}
.configurator-summary-wrapper {
    padding: 1.5em 2em 2em 2em;
    border: 1px solid #e9e9e9;
    border-left: 0;
    background-color: #b9d2e3;
    width:30%;
}
.configurator-summary-wrapper h5 {
    margin-top: 0;
}
.configurator-summary-table {
    font-size: 11px;
    line-height: 24px;
    width: 100%;
}
.configurator-summary-table .line {
}
.configurator-summary-table .total .price-cell {
    font-size: 22px;
    line-height: 30px;
    font-family: Surface, sans-serif;
}
.configurator-summary-table .name-cell {
    text-align: left;
}
.configurator-summary-table .price-cell {
    text-align: right;
    letter-spacing: 0.1;
}
.configurator-summary-table .ruler {
    border-bottom: 1px solid grey;
}