{% block configurator %}
<section id="configurator" class="group">
    {% include "steps/#{configurator.template}.html.twig" %}
    {% include "partials/summary.html.twig" %}
</section>
<pre style="font-size: 10px; line-height: 11px">{{ configurator.selection }}</pre>
{% endblock %}